/* ESTILOS DADOS A LA PAGINA NOSOTROS */
.tituloDondeNosEncontrasMapa {
    margin-left: 100px;
    margin-top: 40px;
  }
  
  .boxSizingpropiedad {
    box-sizing: border-box;
  }
  
  .nuestraHistoriaNosotros {
    color: black;
  }
  